@import 'tailwindcss';
@import './styles/font.css';
@import './styles/theme.css';

body {
  min-width: 1280px;
}

@source '../**/*.{ts,tsx}';

@theme {
  --animate-float: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
